@use 'vars';

@mixin set-line($border, $color){
    &:after{
        content: '';
        display: block;
        width: 1.7em;
        padding-top: .25em;
        border-bottom: $border+em solid $color;
    }
}