/*colors*/
$clr-white: #FFFFFF;
$clr-light-blue: #4bcaff;
$clr-light-gray: #515f67;
$clr-dark-gray: #353f46;
$clr-dark-bg: #404a52;

/*font-sizes*/
$fs-base: 0.875rem; //14px
$fs-sm: 1.5rem; //24px
$fs-xmed: 1.75rem; //28
$fs-med: 1.875rem; //30px
$fs-big: 2.625rem; //42px

/*font-families*/
//serif, sans serif, script, display
$ff-sans: "Noto Sans", sans-serif;

/*font-weights*/
$fw-light: 300;
$fw-reg: 400;
$fw-bold: 700;
